
@font-face {
  font-family: League Spartan;
  src: url('LeagueSpartan-Bold.otf') format("opentype");
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar {
  height: 10px;
  background:transparent
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #53b1b1;
  border: 2px solid white;
}
a {
  color: black;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
}

/*-------------------------Header---------------------------*/
header {
  z-index: 10;
  position: fixed;
  top:0;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding-left: 10vw;
  padding-right: 10vw;
}

.logo {
  font-size: 1.5rem;
  cursor: pointer;
  font-family: 'League Spartan', sans-serif;
  transition: 0.5s;
}

/*---------------------------Footer-------------------------*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5em;
  animation:bg-change 10s infinite;
}

/*---------------------Hero---------------------*/
.hero {
  height: 100vh;
	animation:bg-change 10s infinite;
  cursor: url('images/cursor.png'), auto;	
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes bg-change {
	0%,100% {
		background-color: #f69000;
	}
  50% {
    background-color: #53b1b1;
  }
}

@keyframes tc-change {
  0%,100% {
    color: black;
	}
  50% {
    color: black;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #1F1F1F; }
}

.hero.text, .hero.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation:tc-change 10s infinite;
  margin: 20px;

}

.hero.text h1 {
  animation: 
  typing 2.5s steps(40, end),
  blink-caret .75s step-end infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid #1F1F1F;
}

.hero.text h2 {
  animation: 
  typing 3.5s steps(40, end),
  blink-caret .75s step-end infinite;
  animation-delay: 4s;
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid #1F1F1F;
  width: fit-content;
}

.hero.image img {
  max-height: 300px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
}

@media only screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
  }

  .hero.image img {
    max-height: auto;
    max-width: 70vw;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
  }

  .hero.image {
    flex-direction: row;
  }

  .main-image {
    max-width: 80vw;
  }
}

/*-----------------------Projects-----------------------*/
.project-items {
  color: white;
  background-color: #1F1F1F;
  min-height: 100vh;
}

.project-items #projects-heading {
  margin: 3em;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.main-image {
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.164);
}

/*.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  scroll-behavior: smooth;
  transition: 0.5s;
  padding: 1em;
  max-width: 100vw;
}

.project.active {
  background-color: white;
  height: 80vh;
  transition: 0.5s;
  color: black;
  gap:5em;
}

.project.active::-webkit-scrollbar {
  display: none;
}

.p {
  display: none;
}

.a {
  max-height: 80vh;
}

.display {
  display: block;
  color: black;
  max-height: 60vh;
  min-width: 35vw;
}*/

.project {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 5em;
  justify-content: center;
  transition: 0.5s;
  margin-bottom: 5em;
}

.project p {
  font-size: 1.2rem;
}

.project.active {
  background-color: white;
  transition: 0.5s;
  color: black;
  padding: 3em 3vw 3em 3vw;
  margin: 1.5vw;
  justify-content: initial;
  max-width: 91vw;
  min-height: 75vh;
  overflow-x: scroll;
}

.p {
  display: none;
}

.p.display {
  display: initial;
}

.project.active>div {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40vw;
}

.gear{
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  top: 50px;
}
